[submodule "roles/ansible-chronos"]
	path = roles/ansible-chronos
	url = https://github.com/AnsibleShipyard/ansible-chronos.git
[submodule "roles/ansible-docker"]
	path = roles/ansible-docker
	url = https://github.com/AnsibleShipyard/ansible-docker.git
[submodule "roles/ansible-marathon"]
	path = roles/ansible-marathon
	url = https://github.com/AnsibleShipyard/ansible-marathon.git
[submodule "roles/ansible-mesos"]
	path = roles/ansible-mesos
	url = https://github.com/AnsibleShipyard/ansible-mesos.git
[submodule "roles/ansible-mesos-docker"]
	path = roles/ansible-mesos-docker
	url = https://github.com/AnsibleShipyard/ansible-mesos-docker.git
[submodule "roles/ansible-nodejs"]
	path = roles/ansible-nodejs
	url = https://github.com/AnsibleShipyard/ansible-nodejs.git
[submodule "roles/ansible-sbt"]
	path = roles/ansible-sbt
	url = https://github.com/AnsibleShipyard/ansible-sbt.git
[submodule "roles/ansible-scala"]
	path = roles/ansible-scala
	url = https://github.com/AnsibleShipyard/ansible-scala.git
[submodule "roles/ansible-java"]
	path = roles/ansible-java
	url = https://github.com/AnsibleShipyard/ansible-java.git
[submodule "roles/ansible-ruby"]
	path = roles/ansible-ruby
	url = https://github.com/automatelife/ansible-ruby.git
[submodule "roles/ansible-python"]
	path = roles/ansible-python
	url = https://github.com/automatelife/ansible-python.git
[submodule "roles/ansible-nginx"]
	path = roles/ansible-nginx
	url = https://github.com/AnsibleShipyard/ansible-nginx.git
[submodule "roles/ansible-ark-nodejs"]
	path = roles/ansible-ark-nodejs
	url = https://github.com/AnsibleShipyard/ansible-ark-nodejs.git
[submodule "roles/ansible-ghost"]
	path = roles/ansible-ghost
	url = https://github.com/AnsibleShipyard/ansible-ghost
